<%-include("../partials/adminPartials/header")%>

  <style>
    .product-text-container {
      border-radius: 12px;
      width: 100%;
      height: 56px;
      margin-top: 73px;
      box-shadow: 2px 2px 2px 2px grey;

    }
    input.form-control {
      border: 2px solid black;
         
  }

    .add-coupon {
      box-shadow: 2px 2px 2px 2px grey;
      border-radius: 8px;
    }
  </style>
  <div class="product-text-container container mb-4"
    style="display: flex; justify-content: center;align-items: center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: black;">
    <h4 style=" margin-top: 11px;" id="ManageProduct-text">ADD COUPON  <i class='fa-solid fa-ticket nav_icon'></i></h4>
  </div>
  <div class="container mt-5 add-coupon mb-3">
    <div class="row justify-content-center ">
      <div class="col-md-4 fw-bold">
        <form id="couponform" >
        <div class="mb-3 mt-4">
          <label for="CouponName" class="form-label">Coupon Name</label>
          <input type="text" class="form-control" id="CouponName" name="couponName" placeholder="Enter coupon name"
            >
            <p id="couponnameError" class="form-text text-danger "></p>

        </div>
        <div class="mb-3 mt-4">
          <label for="couponCode" class="form-label">Coupon Code</label>
          <input type="text" class="form-control" id="couponcode" name="couponCode" placeholder="Enter coupon code" >
          <p id="couponCodeError" class="form-text text-danger "></p>
        </div>

        <div class="mb-3">
          <label for="minPurchaseAmount" class="form-label">Minimum Purchase Amount</label>
          <input type="number" class="form-control" id="minPurchaseAmount" name="minPurchaseAmount"
            placeholder="Enter minimum purchase amount">
          <p id="minAmountWarning" class="form-text text-danger "></p>
        </div>

        <div class="mb-3">
          <label for="discountAmount" class="form-label">Discount Amount</label>
          <input type="number" class="form-control" id="discountAmount" name="discountAmount"
            placeholder="Enter discount amount" >
          <p id="discountAmountWarning" class="form-text text-danger "></p>
        </div>

        <div class="mb-3">
          <label class="form-label">Discount Type</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="discountType" id="publicDiscount" value="public" checked>
            <label class="form-check-label" for="publicDiscount">
              Public
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="discountType" id="privateDiscount" value="private">
            <label class="form-check-label" for="privateDiscount">
              Private
            </label>
          </div>
        </div>

        <div class="mb-3">
          <label for="startDate" class="form-label">Start Date</label>
          <input type="date" class="form-control" id="startDate" name="startDate" >
          <small id="startDateError" class="form-text text-danger"></small>

        </div>

        <div class="mb-3">
          <label for="endDate" class="form-label">End Date</label>
          <input type="date" class="form-control" id="endDate" name="endDate" >
          <small id="endDateError" class="form-text text-danger"></small>

        </div>

        <div class="mb-3 text-center">
          <button onclick="submitForm();" type="button"    class="btn btn-success">Add Coupon</button>
        </form>

          <a href="/admin/managecoupon" class="btn btn-secondary">Back</a>
        </div>
      </div>
    </div>
  </div>

 


  <script>
    function submitForm(){
      console.log("Before trim:", document.getElementById('CouponName').value);
const couponName = document.getElementById('CouponName').value.trim();
console.log("After trim:", couponName);

      const couponCode=document.getElementById('couponcode').value.trim();
      const minPurchaseAmount=document.getElementById('minPurchaseAmount')
      const discountAmount=document.getElementById('discountAmount')
      const startDate=document.getElementById('startDate')
      const endDate=document.getElementById('endDate')
      const currentDate = new Date().toISOString().split('T')[0];
      console.log(couponName.value,couponCode,minPurchaseAmount,discountAmount,endDate,currentDate);
      const couponnameError=document.getElementById('couponnameError').innerText=''
   
      const couponCodeError=document.getElementById('couponCodeError').innerText=' '
      
      const minPurchaseError=document.getElementById('minAmountWarning').innerText=''
   
      const discountError=document.getElementById('discountAmountWarning').innerText=''
    
      const startDateError=document.getElementById('startDateError').innerText=''
      const endDateError=document.getElementById('endDateError').innerText=''
      const discountTypeElements = document.getElementsByName('discountType');
      let selectedDiscountType;

      for (const element of discountTypeElements) {
        if (element.checked) {
          selectedDiscountType = element.value;
          break;
        }
      }
      let isValid=true
      console.log(couponName,couponCode,minPurchaseAmount.value,'1234567898765432123456789');
     console.log (/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#])[A-Za-z\d#]+$/.test(couponCode),'asdfasdfa')
      if(!couponName){
        console.log('coupon name error');
            document.getElementById('couponnameError').innerText='coupon  name is required'
            isValid=false
        }
      if(!couponCode){
        console.log('coupon code error');
            document.getElementById('couponCodeError').innerText='coupon code is required'
            isValid=false
        }else if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#])[A-Za-z\d#]+$/.test(couponCode)){
          console.log('code is checking....');
          document.getElementById('couponCodeError').innerText='Invalid coupon code. Must contain at least one uppercase letter, one lowercase letter, one number, and #.';

            isValid=false
        }
      if(!minPurchaseAmount.value){
        console.log('coupon amount error');
            document.getElementById('minAmountWarning').innerText='min  Amount is required'
            isValid=false
        }else if(parseFloat(minPurchaseAmount.value)<0){
          document.getElementById('minAmountWarning').innerText='min  Amount  should not be negative'
            isValid=false
        }
      if(!discountAmount.value){
        console.log('coupon disc error');
            document.getElementById('discountAmountWarning').innerText='dicount Amount is required'
            isValid=false
        }else if(parseFloat(discountAmount.value)<0){
          document.getElementById('discountAmountWarning').innerText='dicount  Amount  should not be negative'
            isValid=false
        }

         if(discountAmount.value>minPurchaseAmount.value){
          document.getElementById('discountAmountWarning').innerText='discount amount should be less than min purchase amound'
            isValid=false
        }
        if (startDate.value < currentDate) {
          console.log('coupon current error');
            document.getElementById('startDateError').innerText = 'Start date must be greater than the current date';
            isValid = false;
        }
        if (endDate.value <= startDate.value) {
          console.log('coupon start error');
            document.getElementById('endDateError').innerText = 'End date must be greater than the start date';
            isValid = false;
        }
        if(isValid){
          try{
            const couponData = {
              couponName: document.getElementById('CouponName').value,
              couponCode: document.getElementById('couponcode').value,
              minPurchaseAmount: document.getElementById('minPurchaseAmount').value,
              discountAmount: document.getElementById('discountAmount').value,
              startDate: document.getElementById('startDate').value,
              endDate: document.getElementById('endDate').value,
              discountType: selectedDiscountType
            };

      fetch('/admin/addcoupon', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(couponData),
      })
        .then(response => response.json())
        .then(data => {
          if(data.success){
            window.location.href='/admin/managecoupon'
          }
        })
        .catch(error => {
          console.error('Error during fetch:', error);
       
        });
        }catch(err){
            console.error(err)
        }
        
    }else{
          console.log('not a valid form....................');
        }
  }
  </script>

  <%-include("../partials/adminPartials/footer")%>