<%-include('../partials/adminPartials/header') %>
<div class="container" style="display: flex;
justify-content: center;
align-items: center;
height: 100vh;">
    
    <div class="" style="    width: 30em;
  box-shadow: 0px 0px 7px -3px;    padding: 20px;
  border-radius: 6px; margin: 0px 16px;">
        <h2 class="mb-4 text-center" style="font-family: 'Poppins', sans-serif; font-weight: 700;">ADD CATEGORY</h2>
        <div class="">
            <!-- Category Form -->
            <form action="/admin/add/category" enctype="multipart/form-data" method="post">
                <div class="mb-3">
                    <label for="categoryName" class="form-label">Category Name:</label>
                    <input type="text"  name="name"  class="form-control" id="categoryName" placeholder="Enter category name" required>
                </div>

                <div class="mb-3">
                    <label for="categoryImage" class="form-label">Category Image:</label>
                    <input type="file" class="form-control" id="categoryImage" name="image" accept="image/*" onchange="previewImage(this)">
                    <div id="imagePreview" class="mt-2"></div>
                </div>

                <button id="login-button"  type="submit" class="btn btn-primary l">Add</button>
                
                <!-- Back to Category Button -->

                <a href="/admin/manageCategory" class="btn btn-secondary">Back to Category</a>
            </form>
        </div>
    </div>
</div>
<script>
    function previewImage(input) {
        const preview = document.getElementById('imagePreview');
        preview.innerHTML = ''; // Clear previous preview

        const files = input.files;

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = function (e) {
                const img = document.createElement("img");
                img.className = "img-fluid preview-image";
                img.src = e.target.result;
                img.style.width = "100px"; // Set the desired width
                img.style.height = "100px"; // Set the desired height
                preview.appendChild(img);
            };

            reader.readAsDataURL(file);
        }
    }
</script>