
<%-include("../partials/adminPartials/header")%>
<style>
  .product-text-container{
  /* background-color: aqua; */
  border-radius: 12px;
  width: 100%;
  height: 56px;
  margin-top: 73px;
  box-shadow: 0px 0px 7px -3px;
  }
  .image-preview {
      display: flex;
      flex-wrap: wrap;
    }

    .preview-container {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .preview-image {
      max-width: 100px;
      max-height: 100px;
      border: 1px solid #ccc;
      margin-bottom: 5px;
    }
    #form{
    border: 2px ; /* Add border style here */
    padding: 15px; /* Add padding for better appearance */
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
    box-shadow: 0px 0px 7px -3px;
  }

</style>

<div class="product-text-container container" style="display: flex; justify-content: space-between;">
  <h4 style="    margin-top: 11px;" id="ManageProduct-text"> ADD PRODUCT</h4>
  
 </div>
</div>
<div class="container mt-5">

  <!-- Bootstrap form with grid layout -->
  <form action="/admin/add-Product " onchange="return validateForm()" method="POST" id="form" enctype="multipart/form-data">

      <!-- General Information Section -->
      <div class="row mb-4">
          <div class="col-md-6">
              <label for="productName" class="form-label">Product Name</label>
              <input type="text" class="form-control" id="productName" name="name" placeholder="Product name" required>
              <p style="color: rgb(252, 56, 56);" id="productNameError"></p>
            </div>
          <div class="col-md-6">
              <label for="productPrice" class="form-label">Price</label>
              <input type="number" class="form-control" id="productPrice" name="price" placeholder="Price" required>
              <p style="color: rgb(252, 56, 56);" id="productPriceError"></p>
            </div>
      </div>

      <div class="row mb-4">
          <div class="col-md-6">
              <label for="productDescription" class="form-label">Product Description</label>
              <textarea class="form-control" id="productDescription" name="description" placeholder="Product Description" rows="3" required></textarea>
              <p style="color: rgb(252, 56, 56);" id="productDescriptionError"></p>
            </div>
          <div class="col-md-6">
            <label for="productColor" class="form-label">Color</label>
            <input type="text" class="form-control" id="productColor" name="color" placeholder="Color">
            <p style="color: rgb(252, 56, 56);" id="productColorError"></p>

          </div>
        <div class="col-md-6">
          <label for="productColor" class="form-label">Brand</label>
          <input type="text" class="form-control" id="Brand" name="brand" placeholder="brand name">
          <p style="color: rgb(252, 56, 56);" id="productBrandError"></p>
        </div>
      <div class="col-md-6">
      <label for="productColor" class="form-label">Category</label>
      <select class="form-select form-select-input form-select-sm shadow-none" name="category" id="category"
         aria-label=".form-select-sm example">
        <option selected>Select Category</option>
        <% categoryData.forEach(data => { %>
          <option value="<%=data.name %>"><%=data.name %></option>
      
        <% }) %>
      </select>
    </div>
      </div>

      <div class="row mb-4">
        <!-- Add Variant Button -->
        <div class="col-md-12 d-flex justify-content-center">
            <button type="button" class="btn btn-primary" id="addVariant">Add Variant</button>
        </div>
        <p style="color: rgb(252, 56, 56); text-align: center;" id="variantError"></p>
    </div>
    
  
<div id="variantSection">
  <!-- Variant Template -->
  <div class="variant-row row mb-4" data-variant-index="0">
    <div class="col-md-6">
      <label for="productSize" class="form-label">Size</label>
      <input type="number" class="form-control" name="variant[size][]"  placeholder="Size">
    </div>
    <div class="col-md-6">
      <label for="productStock" class="form-label">Stock Quantity</label>
      <input type="number" class="form-control" name="variant[quantity][]" placeholder="Stock" required>
    </div>
    <!-- Remove Variant Icon -->
    <div class="col-md-12 mt-2 d-flex justify-content-end">
      <!-- Ensure at least one variant is always present -->
      <button type="button" class="btn btn-danger" onclick="removeVariant(this)" disabled>&times;</button>
    </div>
  </div>
</div>

<!-- Add Variant Button -->
<!-- <div class="col-md-12 d-flex justify-content-center">
  <button type="button" class="btn btn-primary" id="addVariant">Add Variant</button>
</div> -->

      <!-- Image Upload Section -->
      <div class="row mb-4">
        <div class="mb-3">
          <p id="imageError1" style="color: rgb(252, 56, 56);"></p>
          <label for="imageInput1"  class="form-label">Main Image</label>
          <input type="file" class="form-control" id="imageInput1" name="mainImage" accept="image/*" required>
          <img id="imagePreview1" src="" class="img-thumbnail mt-2" alt="Preview" style="width: 150px; height: 150px;">
          <button class="btn btn-danger mt-2 delete-button" id="deleteButton1"
              style="display: none">Delete</button>
        </div>
    
        <div class="mb-3">
          <label for="imageInput2" class="form-label">Product Image:</label>
          <input type="file" class="form-control" id="imageInput2" name="image1" accept="image/*" required>
          <img id="imagePreview2" src="" class="img-thumbnail mt-2" alt="Preview" style="width: 150px; height: 150px;">
          <button class="btn btn-danger mt-2 delete-button" id="deleteButton2"
              style="display: none">Delete</button>
        </div>
    
        <div class="mb-3">
          <label for="imageInput3" class="form-label">Product Image:</label>
          <input type="file" class="form-control" id="imageInput3" name="image2" accept="image/*" required>
          <img id="imagePreview3" src="" class="img-thumbnail mt-2" alt="Preview" style="width: 150px; height: 150px;">
          <button class="btn btn-danger mt-2 delete-button" id="deleteButton3"
              style="display: none">Delete</button>
        </div>
        <div class="mb-3">
          <label for="imageInput4" class="form-label">Product Image:</label>
          <input type="file" class="form-control" id="imageInput4" name="image3" accept="image/*" >
          <img id="imagePreview4" src="" class="img-thumbnail mt-2" alt="Preview" style="width: 150px; height: 150px;">
          <button class="btn btn-danger mt-2 delete-button" id="deleteButton4"
              style="display: none">Delete</button>
        </div>

        <div class="mb-3">
          <label for="imageInput5" class="form-label">Product Image:</label>
          <input type="file" class="form-control" id="imageInput5" name="image4" accept="image/*">
          <img id="imagePreview5" src="" class="img-thumbnail mt-2" alt="Preview" style="width: 150px; height: 150px;">
          <button class="btn btn-danger mt-2 delete-button" id="deleteButton5"
              style="display: none">Delete</button>
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" id="submitButton" class="btn btn-primary">Add Product</button>
      <a href="/admin/manage-Product" class="btn btn-secondary">Back to Product</a>

  </form>

</div>
<script>
  document.getElementById('addVariant').addEventListener('click', function () {
    var index = document.querySelectorAll('#variantSection .variant-row').length;
    var newVariantSection = document.querySelector('#variantSection .variant-row').cloneNode(true);
  
    newVariantSection.setAttribute('data-variant-index', index);
  
    newVariantSection.querySelector('button').removeAttribute('disabled');
  
    newVariantSection.querySelectorAll('input').forEach(input => {
      input.value = '';
    });
  
    document.getElementById('variantSection').appendChild(newVariantSection);
  });
  
  function removeVariant(button) {
    var variantSection = document.getElementById('variantSection');
  
    if (variantSection.querySelectorAll('.variant-row').length > 1) {
      button.closest('.variant-row').remove();
    }
  }
  </script>
   
  
   <script>
    document.addEventListener("DOMContentLoaded", function () {
      const inputIds = ["1", "2", "3", "4", "5"];
  
      inputIds.forEach((id) => {
        const input = document.getElementById(`imageInput${id}`);
        const preview = document.getElementById(`imagePreview${id}`);
        const deleteButton = document.getElementById(`deleteButton${id}`);
        const imageErrorMessage = document.getElementById(`imageError${id}`);
  
        input.addEventListener("change", (e) => {
          const file = e.target.files[0];
          if (file) {
            if (!file.type.startsWith("image/")) {
              input.value = "";
              preview.src = "";
              deleteButton.style.display = "none";
              imageErrorMessage.textContent = 'Please add a valid image with supported formats (JPEG, PNG, WebP, GIF, SVG, TIFF, AVIF)';
            } else if (!['image/jpeg', 'image/png', 'image/webp', 'image/gif', 'image/svg+xml', 'image/tiff', 'image/avif'].includes(file.type)) {
              input.value = "";
              preview.src = "";
              deleteButton.style.display = "none";
              imageErrorMessage.textContent = 'Please add a valid image with supported formats (JPEG, PNG, WebP, GIF, SVG, TIFF, AVIF).';
            } else {
              const reader = new FileReader();
              reader.onload = (event) => {
                preview.src = event.target.result;
                deleteButton.style.display = "block";
                imageErrorMessage.textContent = '';
              };
              reader.readAsDataURL(file);
            }
          }
        });
  
        deleteButton.addEventListener("click", () => {
          input.value = "";
          preview.src = "";
          deleteButton.style.display = "none";
          imageErrorMessage.textContent = '';
        });
      });
    });
  </script>
  
<script>
  document.addEventListener("DOMContentLoaded",function() {
  document.getElementById('productName').addEventListener('input',validateForm)
  document.getElementById('productDescription').addEventListener('input',validateForm)
  document.getElementById('productColor').addEventListener('input',validateForm)
  document.getElementById('Brand').addEventListener('input',validateForm)
  document.getElementById('productPrice').addEventListener('input', validateForm);
  document.querySelectorAll('.variant-row input[name^="variant[size]"]').forEach(function (input) {
      input.addEventListener('input', validateForm);
    });
    document.querySelectorAll('.variant-row input[name^="variant[quantity]"]').forEach(function (input) {
      input.addEventListener('input', validateForm);
    })

  })
  function validateForm(){
    var productName=document.getElementById('productName').value.trim()
    var productDescription = document.getElementById('productDescription').value.trim();
    var productColor = document.getElementById('productColor').value.trim();
    var productBrand = document.getElementById('Brand').value.trim();
    var productPrice = document.getElementById('productPrice').value.trim();
    
    var submitButton=document.getElementById('submitButton')
    if(productName===''){
      document.getElementById('productNameError').innerHTML='product name is required'
      submitButton.disabled=true
    }else{
      document.getElementById('productNameError').innerHTML=""
      submitButton.disabled=false
    }

    if (productDescription === '') {
        document.getElementById('productDescriptionError').innerHTML = 'description is required';
        submitButton.disabled = true;
    } else {
        document.getElementById('productDescriptionError').innerHTML = "";
    }
    if (productColor === '') {
        document.getElementById('productColorError').innerHTML = 'color is required';
        submitButton.disabled = true;
    } else {
        document.getElementById('productColorError').innerHTML = "";
    }
    if (productBrand === '') {
        document.getElementById('productBrandError').innerHTML = 'brand is required';
        submitButton.disabled = true;
    } else {
        document.getElementById('productBrandError').innerHTML = "";
    }
    if (productPrice === '' || parseFloat(productPrice) < 0) {
      document.getElementById('productPriceError').innerHTML = 'Price must be a non-negative number';
      submitButton.disabled = true;
    } else {
      document.getElementById('productPriceError').innerHTML = '';
    }

    var variantInputs = document.querySelectorAll('.variant-row');
    var invalidVariant = false;
    variantInputs.forEach(function (variantInput) {
      var sizeInput = variantInput.querySelector('input[name^="variant[size]"]');
      var quantityInput = variantInput.querySelector('input[name^="variant[quantity]"]');

      if (sizeInput.value.trim() === '' || parseFloat(sizeInput.value.trim()) < 0 || 
          quantityInput.value.trim() === '' || parseFloat(quantityInput.value.trim()) < 0) {
        invalidVariant = true;
      }
    });

    if (invalidVariant) {
      document.getElementById('variantError').innerHTML = 'Size and Stock Quantity must be non-negative numbers';
      submitButton.disabled = true;
    } else {
      document.getElementById('variantError').innerHTML = '';
    }

    // clearErrorMessages(document.getElementById('productNameError'), 1500);
    // clearErrorMessages(document.getElementById('productDescriptionError'), 1500);
    // clearErrorMessages(document.getElementById('productColorError'), 1500);
    // clearErrorMessages(document.getElementById('productBrandError'), 1500);
    // clearErrorMessages(document.getElementById('productPriceError'), 1500);
    // clearErrorMessages(document.getElementById('variantError'), 1500);

  }

  // function clearErrorMessages(element, delay = 0) {
  //   setTimeout(function () {
  //     if (element) {
  //       element.innerHTML = '';
  //     }
  //   }, delay);
  // }
</script>
<%-include("../partials/adminPartials/footer")%>