<%-include('../partials/adminPartials/header') %>
<div class="container" style="display: flex;
justify-content: center;
align-items: center;
height: 100vh;">
    
    <div class="" style="    width: 30em;
    box-shadow: 0 1px 15px 1px rgb(52 40 104 / 30%);
    padding: 20px;
    border-radius: 6px; margin: 0px 16px;">
        <h2 class="mb-4 text-center" style="font-family: 'Poppins', sans-serif; font-weight: 700;">EDIT CATEGORY</h2>
        <div class="">
            <!-- Category Form -->
            <form action="/admin/edit/category/<%=categoryData.id %> " enctype="multipart/form-data" 
                 method="post">
                <div class="mb-3">
                    <label for="categoryName" class="form-label">Category Name:</label>
                    <input type="text"  name="name"  value="<%=categoryData.name%>" class="form-control" id="categoryName"  required>
                </div>

                <div class="mb-3">
                    <label for="categoryImage" class="form-label">Category Image:</label>
                    <input type="file" class="form-control" id="categoryImage" name="image"  accept="image/*" >
                    <div class="mt-4">
                    <img src= "/uploadedImages/<%=categoryData.image %>" alt="" style="width: 50px; height: 50px"
                            class="rounded-circle">
                            </div>
                </div>
                
                <button id="login-button"  type="submit" class="btn btn-primary l">Save</button>
                
                <!-- Back to Category Button -->

                <a href="/admin/manageCategory" class="btn btn-secondary">Back to Category</a>
            </form>
        </div>
    </div>
</div>