<div class="card-body p-4">
    <div class="row">
      <% const allItemsRejected = x.items.every(item => item.status === 'rejected'); %>
      <div class="col-md-4">
        <span class="lead fw-normal" ><strong>   <p class=" mb-0"><b>Order Status :  <span class="
          <% if (allItemsRejected) { %> text-danger 
            <% } else if (orderDetails[0].status === 'Pending') { %> text-warning 
            <% } else if (orderDetails[0].status === 'Processing') { %> text-info 
            <% } else if (orderDetails[0].status === 'Order Placed') { %> text-primary 
            <% } else if (orderDetails[0].status === 'Shipped') { %> text-secondary 
            <% } else if (orderDetails[0].status === 'Order Delivered') { %> text-success 
            <% } else if (orderDetails[0].status === 'Returned') { %> text-warning 
            <% } else if (orderDetails[0].status === 'Cancelled') { %> text-danger 
            <% } %>">
            <% if (allItemsRejected) { %>Cancelled<% } else { %> <%= orderDetails[0].status %> <% } %>
    
</span> </b></p></strong> </span>
        <br>
        <ul>
          <% x.items.forEach((item)=> { %>
            <li>
              <b>
                <%= item.productId ? item.productId.name : 'Product Name Not Available' %>
                
              </b><br>
              <br>
              Quantity: <%= item.quantity %>
            </li>
            <br>
            
            <% }); %>
        </ul>
      </div>
  
     <div class="col-md-4">
      
          
      </div>
      
      <div class="col-md-4">
        <a href="/user-orderDetails/<%= x._id%>"><button class="btn btn-outline-success"
            type="button">Order details</button></a>
            <div class="float-end">
            <p class=" "> Order Date: <strong> <%- new Date(x.orderDate).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></strong></p>
            <p class="">Expected On: <strong> <%- new Date(x.arrivingDate).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></strong></p>
          </div>
          </div>
    </div>
    <% if(x.status=="Return"){ %>
    <h3>Order Returned</h3>
      <% }else{ %>
        <% const allItemsRejected = orderDetails[0].items.every(item => item.status === 'rejected'); %>
        <% if (allItemsRejected) { %>
         
        
        <% }else{%>
          <p class="lead fw-bold mb-4 pb-2" style="color:#014122">Order status:↓</p>
          <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
            <% if(x.status=="Pending" ){%>
              <span class="d-flex justify-content-center align-items-center big-dot dot">
                <i class="fa fa-check text-white"></i></span>
              <%}else{%>
                <span class="dot"></span>
                <%}%>
                  <hr class="flex-fill track-line">
                  <% if(x.status=="Order Placed" ){%>
                    <span class="d-flex justify-content-center align-items-center big-dot dot">
                      <i class="fa fa-check text-white"></i></span>
                    <%}else{%>
                      <span class="dot"></span>
                      <%}%>
                        <hr class="flex-fill track-line">
                        <% if(x.status=="Shipped" ){%>
                          <span class="d-flex justify-content-center align-items-center big-dot dot">
                            <i class="fa fa-check text-white"></i></span>
                          <%}else{%>
                            <span class="dot"></span>
                            <%}%>
                              <hr class="flex-fill track-line">
                              <% if(x.status=="Order Delivered" ){%>
                                <span class="d-flex justify-content-center align-items-center big-dot dot">
                                  <i class="fa fa-check text-white"></i></span>
                                <%}else{%>
                                  <span class="dot"></span>
                                  <%}%>
                                    <% if(x.status=="Rejected" ){%>
                                      <hr class="flex-fill track-line">
                                      <span
                                        class="d-flex justify-content-center align-items-center big-dot dot custom-dot">
                                        <i class="fa fa-check text-white"></i></span>
                                      <%}%>
                                     

          </div>
          <% if(x.status=="Rejected" ){%>
            <div class="d-flex flex-row justify-content-between align-items-center">
              <div class="d-flex flex-column align-items-start">
                <p class="py-1 px-2 rounded text-white" style="background-color: #dadada;">Pending</p>
              </div>
              <p class="py-1 px-2 rounded text-white" style="background-color: #e7e7e7;">Order Placed</p>
              <p class="py-1 px-2 rounded text-white" style="background-color: #dadada;">Shipped</p>
              <p class="py-1 px-2 rounded text-white" style="background-color: #dbdbdb;">Delivered</p>
              <p class="py-1 px-2 rounded text-white" style="background-color: #ff4545;">Rejected</p>
            </div>
            
           <%}else if(x.status=="Cancelled" ){%>
            
              <div class="d-flex flex-row justify-content-between align-items-center">
    
                <p class="py-1 px-2 rounded text-white" style="background-color: #dfdfdf;">Order Placed</p>
                <p class="py-1 px-2 rounded text-white" style="background-color: #dddddd;">Shipped</p>
                <p class="py-1 px-2 rounded text-white" style="background-color: #c7c7c7;">Delivered</p>
                <p class="py-1 px-2 rounded text-white" style="background-color: #ff4545;">Cancelled</p>
              </div>
            
            <%}else{%>
              <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-column align-items-start">
                  <p class="py-1 px-2 rounded text-white" style="background-color: #2790f3;">Pending</p>
                </div>
                <p class="py-1 px-2 rounded text-white" style="background-color: #2790f3;">Order Placed</p>
                <p class="py-1 px-2 rounded text-white" style="background-color: #2790f3;">Shipped</p>
                <p class="py-1 px-2 rounded text-white" style="background-color: #2790f3;">Delivered</p>
              </div>
              <%}%>
              

                <div class="d-flex justify-content-between pt-2">
                  <div class="d-flex justify-content-between pt-2">
                    <% if (x.status !== "Cancelled" && x.status !== "Order Delivered") { %>
                      <% const allItemsRejected = x.items.every(item => item.status === "rejected"); %>
                      <% if (allItemsRejected) { %>
                          <p class="text-danger fw-bold" style="font-size: 20px;font-family:Georgia, 'Times New Roman', Times, serif" > </p>
                      <% } else { %>
                          <button class="btn btn-danger" onclick="cancelOrder('<%= x._id %>')">Cancel Order</button>
                      <% } %>
                    <% } %>
                </div>
                
                  <% if (x.status==="Order Delivered" ){%>
                    <button type="button" class="btn btn-dark m-2" onclick="generateAndDownloadInvoice('<%= x._id %>')">
                      Download Invoice
                  </button>
                    <%}%>
                </div>
                <!-- <a href=""><span class="py-1 px-2 rounded text-white" style="background-color: #f3ac27;">Cancell Order</span></a> -->
                <!-- </div> -->
                <!-- </div> -->
                <!-- </div>  -->
                <br>                      <%}%>
   
          <% } %>
  </div>