
  
  .img-fluid{
    background-size:cover;
    width: 100%;
  }

  .custom-card{
    width:100%;
    height:20.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    object-fit: cover;
  }
  .custom-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
  }
  .custom-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #014122; 
    border-radius: 0 0 20px 20px; 
    text-align: center;  
  }


   @media (min-width: 997px) {
    .custom-card{
      width: 300px;
      height: 300px;
    }
}
