<%-include('../partials/userPartials/user-nav') %>

<style>
    /* confirm-order{
        margin: 0;
        font-family: 'Arial', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5100px;
        background-color: #f4f4f4;
    }  */

    .order-placed-container {
        text-align: center;
    }

    .tick-container {
        color: #4CAF50;
        margin: 20px auto;
    }
</style>







<div class="  confirm-order d-flex align-items-center justify-content-center" style="height: 500px;">
    <div class="order-placed-container">
        <div class="tick-container">
            <i class="fas fa-check fa-5x"></i>
        </div>
        <h1>Your Order has been Placed!</h1>
        <p>Thank you for shopping with us.</p>
        <div class="d-flex align-items-center justify-content-center">
            <h5 class="border shadow mt-3 w-50" style="background-color: black;color: white; border-radius:5px;font-family:Georgia, 'Times New Roman', Times, serif;">TEAM SHOEX</h5>
            </div>
        <br>
        <br>
        <br>
       <a href="/user-orders" class="btn btn-success">TRACK ORDER</a>
       <a href="/user-viewallProduct" class="btn btn-primary">BACK TO STORE</a>
    </div>
    </div>
  











<%-include('../partials/userPartials/user-footer')%>









